h2{
    color: var(--primary-color);
}
.hero {
    height: 60vh;
    background-image: url(../media/image2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

    h1 {
        color: var(--text-color);
        font-size: 3rem;
        text-align: center;
        background-color: var(--primary-color);
        padding: 1rem;

    }
}

.values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 2rem;
    margin: 4rem 0;

    .mission,
    .vision {
        display: grid;
        /* place-items: center; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* padding: 1rem; */
        border-radius: 10px;
        /* background-color: var(--card-color); */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .image {
            min-height: 300px;
            background-size: cover;
            background-position: center;
        }

        h2 {

            font-size: 2rem;
            margin: 1rem 0;
            padding: 0 1rem;
        }

        p {

            padding: 0 1rem;

        }
    }

    .mission .image {
        background-image: url(../media/image3.jpg);


    }

    .vision .image {
        background-image: url(../media/image4.jpg);


    }
}


.history {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 2rem;

    }

    h2,
    p {
        text-align: center;

    }

    p {
        padding: 0 1rem;
        line-height: 1.5;
    }
}

.structure {
    padding: 0 1rem;

    h2 {
        /* border: 2px solid red; */
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
    }

    .leaders {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;

        

        .leader{
            /* border: 1px solid var(--primary-color);   */
            padding: 1.5rem .5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            .image{
                display: grid;
                place-items: center;
                img{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }
            }
    
            h3{
                font-size: 1.5rem;
                padding: 1rem 0;
                text-align: center;
            }
            p{
                padding: 0 1rem;
                text-align: justify;
            }
        }
    }

}

.members{
    h2{
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
    }
    p{
        text-align: center;
        padding: 0 1rem;
        line-height: 1.5;
    }
}

.member-universities{
    h2{
        text-align: center;
        font-size: 2rem;
        margin: 2rem 0;

    }
    ul{
        text-align: center;
        li{
        border: 1px solid var(--primary-color);
        margin: .5rem;padding: .5rem;
        }
    }
}

.partnerships{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 3rem 1rem;
    .partner{
        padding: 1.5rem .5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            h2{
                text-decoration: underline;
                padding: .5rem;
                cursor: pointer;
                transition: var(--transition);
                &:hover{
                    scale: 1.05;
                }
            }
            p{
                padding: .5rem;
                line-height: 1.5;
                text-align: justify;
            }
    }
}

.cta{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    h3{
        font-size: 1.5rem;
        color: var(--primary-color);
        cursor: pointer;
        transition: var(--transition);
        
        &:hover{
            text-decoration: underline;
            scale: 1.05;
        }
    }
}